# ==========================================================================
#  112233445566 - IAM: remote_states.tf (Remote Terraform References)
# --------------------------------------------------------------------------
#  Description
# --------------------------------------------------------------------------
#    - DynamoDB
#    - S3 Bucket
#    - Region
# ==========================================================================

# --------------------------------------------------------------------------
#  Use Existing Core Terraform Remote State
# --------------------------------------------------------------------------
data "terraform_remote_state" "tfstate_remote" {
  backend   = "s3"
  workspace = local.env

  config = {
    bucket  = "tf-state-112233445566-ap-southeast-3"
    key     = "devopscorner/112233445566/tfstate/tfstate"
    region  = var.aws_region
    profile = var.aws_account_profile_source
  }
}
